.sectionName{
    font-size: 18px;
    color: #9a9a9a;
    font-weight: 400;
}
.resetPasswordFormLable{
    height: 38px;
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px !important;
}
.resetPasswordError{
    color:red;
    font-size: 12px;
    padding-right:10px
}

@media (max-width: 767px) {
    .resetPasswordFormLable{
        justify-content: flex-start;
        height:25px
    }
  }/*End 767*/
  